# Default ignored files
/../../LearnPythonProgrammingMasterclass /.idea/shelf/
/../../LearnPythonProgrammingMasterclass /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../LearnPythonProgrammingMasterclass /.idea/httpRequests/
# Datasource local storage ignored files
/../../LearnPythonProgrammingMasterclass /.idea/dataSources/
/../../LearnPythonProgrammingMasterclass /.idea/dataSources.local.xml
